@model Tourfirm.Domain.ViewModels.UserRoleUpdateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="Moderator" asp-action="UserRoleUpdate" method="post" asp-route-userId="@Model.UserId" enctype="multipart/form-data">
<div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-row">
        <div class="form-group">
                    <label for="inputRole">Role</label>
                    <select id="inputRole" asp-for="Id" class="form-control" asp-items="@Model.AllRoles">
                    </select>
                </div>
        <div style="margin-top: 1em">
                <button type="submit" class="btn btn-primary margin-md w-100">Add Role</button>
            </div>
        <div>
            @foreach (var role in Model.UserRoles)
                                 {
                                     <div class="card" style="margin-top: 0.5em">
                                         <div class="card-header">
                                             @role.Name
                                         </div>
                                         <div class="card-body">
                                             <p class="card-text"> @role.Description </p>
                                            <a asp-action="RoleRemove" asp-controller="Moderator" asp-route-userId="@Model.UserId" asp-route-id="@role.Id" style="padding: 10px; width: 100%" class="btn btn-danger"> Delete </a>
                                         </div>
                                     </div>
                                 }
            </div>
            
    </div>
</form>
